<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Render x6</title>


  <script src="js/angular.min.js"></script>
  
<script>

	// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			results = regex.exec(location.search);
		return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
    var filename = getParameterByName("filename");
	var indexes = getParameterByName("indexes").split(',');
function UserCtrl($scope, $http) {
    
	function init() {
        //debugger;
        $scope.users = [] // Initialize with an empty array
        $scope.parsed = [] // Initialize with an empty array
        $scope.index = 0;

        $http({method: "GET", url: filename + ".txt?" + (new Date).toJSON(), transformResponse: function (data) {
            return data;
        }})
                .success(function (data) {
                    $scope.users = data.split('\n');
                    angular.forEach($scope.users, function (str) {
                        if (str && str.length > 0) {
                            try {
                                $scope.parsed.push(JSON.parse(str));
                            }
                            catch (err) {
                                console.log(str);
                            }


                        }
                    });drawFrame()
                    // data should be text string here (only if the server response is text/plain)
                }
        );
    }

    init();

    function drawFrame() {
        //debugger;
        //console.log($scope.parsed.length + " " + $scope.index);
		
        $scope.draw($scope.parsed[indexes[0]].polyArray, "canvas1");
        $scope.draw($scope.parsed[indexes[1]].polyArray, "canvas2");
        $scope.draw($scope.parsed[indexes[2]].polyArray, "canvas3");
        $scope.draw($scope.parsed[indexes[3]].polyArray, "canvas4");
        $scope.draw($scope.parsed[indexes[4]].polyArray, "canvas5");
        $scope.draw($scope.parsed[indexes[5]].polyArray, "canvas6");
        
    }

	// https://github.com/angular/angular.js/issues/1448#issuecomment-10826160
	$http({method: "GET", url: filename + ".txt", transformResponse: function(data) { return data; }})
		.success(function(data){
			$scope.users = data.split('\n');
			angular.forEach($scope.users, function(str) {
				if (str && str.length > 0) {
					try {
						$scope.parsed.push(JSON.parse(str));
					}
					catch(err) {
						console.log(str);
					}
					
					
				}
			});
		  // data should be text string here (only if the server response is text/plain)
		}
	);

	$scope.draw = function(_polyArray, canvasId) {
		polyArray = _polyArray; 
		drawLoop(canvasId);
	};
}

var myapp = angular.module('myapp', []);

myapp.controller('UserCtrl', UserCtrl);
</script>
  
</head>
<body ng-app="myapp">
    
  <div ng-controller="UserCtrl">
            <div style="float:left; height:500px; overflow:scroll;display:none;">
			
			<ul class="unstyled">
                <li ng-repeat="user in parsed">
                    <div ng-click="draw(user.polyArray)">{{user.date}}</div>
                </li>
            </ul>
			</div>
            <div style="float:left">
<canvas width="1155px" height="1155px" id="canvas1"></canvas>
<canvas width="1155px" height="1155px" id="canvas2"></canvas>
<canvas width="1155px" height="1155px" id="canvas3"></canvas>
<canvas width="1155px" height="1155px" id="canvas4"></canvas>
<canvas width="1155px" height="1155px" id="canvas5"></canvas>
<canvas width="1155px" height="1155px" id="canvas6"></canvas>
			</div>
        </div>
		<script>
var polyArray = [];
var canvas;
var ctx;
	function drawLoop(canvasId) {
		canvas=document.getElementById(canvasId)

	    ctx = canvas.getContext('2d');
        canvas.width = canvas.width;
        for (i = 0; i < polyArray.length; i++) {
            drawPoly(polyArray[i].points, polyArray[i].colour);
        }
    }
	function drawPoly(poly, colour) {
        ctx.fillStyle = colour;
var offset = 0;
        ctx.beginPath();
        ctx.moveTo(poly[0] * 2.31 + offset , poly[1]*2.31 + offset );
        for( item=2 ; item < poly.length-1 ; item+=2 ){
            var newX = (poly[item]) * 2.31 + offset;
            var newY = (poly[item+1]) * 2.31 + offset;
            ctx.lineTo( newX , newY )
        }

        ctx.closePath();
        
        ctx.fill();
    }
	</script>
</body>
</html>
